.navBar {
	height: 100vh;
	background-color: #028a8a86;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 1s ease;
	z-index: 100;

	box-shadow: 10px 0px 20px #535353;

	ul {
		list-style: none;
	}

	.navButton {
		position: fixed;
		bottom: 10px;
		left: 10px;
		height: 50px;
		width: 50px;
		background-color: grey;
	}
}

.navBar.hidden {
	left: -300px;
}

.navOffClick {
	background-color: #00000036;
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 90;
	transition: all 1s ease;
}

.navOffClick.hidden {
	background-color: transparent;
	pointer-events: none;
}
